
/* fixing the positioning  // spaces of the buttons */
.audio-container {
   display: grid;      
   grid-template-columns: auto auto auto;  /* to display in the correct position of the grid */ 
   padding: 20px;
   } 

/* Styling the spaces that surrounds the button */
/*Basically styling and making a button that is inside a div*/
   .audio-item {
      background-color: #BA90C6;
      color: white;
      border: none;
      border-radius: 5px;
      transition: all 0.3s ease; /* giving it a nice transition*/
      padding: 25px;     
      margin:20px;     
      text-align: center;     
      border-radius: 15px; 
      border: white 2px solid; 
    }

    /*The hover and its transition */
    .audio-item:hover {
      background-color: #b977cb;
      color: white;
      transform: translateY(-2px);
    }

    
    
/* removing the actual style of the button */     
.btn{  
   font-size: 15px;   
   background-color: transparent;            
   width:250px;       
   border:0;   
   cursor: pointer; /* A cursor to know when we are pressing the button */
}  

/*image as a background */
   body{       
      background-image: url(backg.jpg);       
      background-size: cover;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }  

/*Styling the part where i want to be my header */
.heading{  
   font-size: 25px;     
   background-color: #BA90C6;     
   color:rgb(255, 255, 255);    
   text-align: center;     
   padding:5px; 
   border: solid white ;
   border-radius: 5px;
   height: 30px;   
   margin:30px;     
   margin-left: 50px;     
   margin-right: 50px; 
}