
/*For this CSS, I copied the design on my "one-page website"
but since this webpage is just for visuals
i only changed the position and sizes.
I also added the ".menu a.active" and ".menu a" to help me add a color background in the menu bar
 to where the user is */

 /* Background and default of the whole page */
body {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

/*I adjusted the header part */
#header {
    height: 150px;
    text-align: center;
    line-height: 500px; /*to put the text in the center of the whole page */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

/*menubar and navitigation fixing */
.menu a {
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size:17px;
}

.menu a.active {
    background-color: #5b4f72;
}

/*positioning the menubar */
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;    
    height: auto;
    width: 100vw;
    padding-top: 40px;
}


 /*fixing menubar arrangement */  
    nav {
    background-color:#8675A9;   
    color: #fff;
    padding: 10px;
    }

 
    nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    text-align: center;
    }
    

    nav li {
    display: inline-block;
    margin-right: 10px;
    }
    
    nav a {
    color: #fff;
    text-decoration: none; 
    }
    
   
    nav a:hover{ 
    background-color: #b4536b; 
    }