/* I transfered every style elements of "Replace me Advance.html" in this file, 
which is a CSS file connected to the html file */


body {
    background: #eeeeee
}

h1 {
    font-size: 35px; 
    color: #ff0000; 
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif; 
    text-decoration: underline
}

p {
    font-size: 18px;
    color: #111111;
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* in using id we use "#" to identify it on our CSS file */
/*Using an id for this paragraph has a different style */
#p1 {
    font-size: 18px; 
    color: #00ff00; 
    font-weight: 700; 
    font-family: Georgia, 'Times New Roman', Times, serif

}