/* Stylesheet of my We bare bears webpage */

/*  Styling the "We Bare Bears" to make it seem like the webpage title */
#header {
    height: 150px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);; /* I used: (https://cssgradient.io/) to help me to a gradient */
    text-align: center;
    line-height: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* The heading of each division */
h2 {
    border-bottom: #8675A9 solid 11px;
    margin-right: 600px;
    font-size: 30px;
}


/*Styling my table section */
table, th, td {
    border: solid 5px rgb(255, 255, 255);
    border-collapse: collapse; /* When border-collapse is set to collapse, adjacent table cells share borders, and the borders between them are merged into a single border. */
    margin-right: 600px;  
}


th, td {
    background-color: #ebc9e6; 
  }


/*The default style of everying in the body portion in HTML */
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    }

/*Styling the whole nav section */    
    nav {
    background-color:#8675A9;   
    color: #fff;
    padding: 10px; /* padding is used to add space between an element's content and its border. */
    }


 /*Making the list inside the nav section centered and changing it's color */   
    nav ul {
    list-style: none; /* list-style is used to specify the appearance of list elements in HTML. When set to none, it removes the bullets, numbers, or markers from the list items, leaving them without any visual indication of being part of a list. */
    margin: 0;
    padding: 0;
    text-align: center;
    }
    
    /* the words in <li> tag will have spaces in between each other */
    nav li {
    display: inline-block; /* allows an element to be displayed as a block-level element while still being placed inline with other elements. */
    margin-right: 10px;
    }
    
    nav a {
    color: #fff;
    text-decoration: none; /* text-decoration is used to control the visual appearance of text. When set to none, it removes any decoration from the text*/
    padding: 5px;
    }
    
    /*adding a hover in my nav options */
    nav a:hover{ 
    background-color: #b4536b; /* when mouse points at "nav a" elements, The backgroup will change it color */

    }

   
    /* Making a button */

    .btn1 {
    background-color: rgb(192, 48, 48);
    color: #000000;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px; /* Makes rounded border side */
    }

    .btn2 {
        background-color: rgb(206, 176, 243);
        color: #000000;
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        }

    .btn1:hover,.btn2:hover {
        color:rgb(255, 255, 255)
    }    

    
    #reviews p {
    font-style: italic;
    }